<div id="container">
    <div class="form-box">
        <h1>Sign Up</h1>
        <form #signUpForm ="ngForm">
            <div class="input-group">
                <div class="input-field">
                    <!-- <i class="fa-solid fa-user"></i> -->
                    <img src="../../../assets/icons8-user-24.png"  class="img" alt="user">
                    <input type="text" #username="ngModel" ngModel name="uName" placeholder="User Name">
                </div>

                <div class="input-field">
                    <img src="../../../assets/icons8-email-30.png" class="img" alt="">
                    <input type="email" #email="ngModel" ngModel name="uEmail" placeholder="Email">
                </div>

                <div class="input-field">
                    <!-- <i class="fa-solid fa-lock"></i> -->
                     <img src="../../../assets/icons8-lock-48.png" class="img" alt="">
                    <input type="password" #pass="ngModel" ngModel name="password" placeholder="Password">
                </div>
                <div class="input-field">
                    <!-- <i class="fa-solid fa-lock"></i> -->
                     <img src="../../../assets/icons8-lock-48.png" class="img" alt="">
                    <input type="password" #confpass="ngModel" ngModel name="conformPass" placeholder="Conform password">
                </div>


                <p>Forgot password <a href="#">Click here</a></p>
            </div>
            <div class="btn-field">
                <button type="button" (click)="signUp(signUpForm.value)" class="disable" > Sign up</button>
                <button type="button" (click)="sinIp()"> Sign in</button>
            </div>
            
        </form>
    </div>

</div>
